@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<Departman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>
<h2>Departman Sayfası</h2>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>
                @d.DepartmanID
            </td>
            <td>
                @d.DepartmanAd
            </td>
            <td><a href="/Departman/DepartmanSil/@d.DepartmanID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@d.DepartmanID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@d.DepartmanID" class="btn btn-success">Departman Detay</a></td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Yeni Departman</a>

