<div id="small-dialog1" class="mfp-hide book-form">

    <div class="login-form login-form-left">
        <div class="agile-row">
            <h3>Personel Girişi</h3>
            <div class="clear"></div>
            <div class="login-agileits-top">
                <form action="#" method="post">
                    <input type="text" class="name" name="KullanıcıAd" Placeholder="Kullanıcı Adı" required="" />
                    <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap">
                </form>
            </div>
        </div>
    </div>

</div>
